libtool
libtoolT
config.h
*.DS_Store
*.cache
*/stamp-h1
stamp-*
*.log
*~
*.status
*.pbxuser
*.perspectivev3
*/xcuser/*
*.xcuserstate
*.xcuserdatad
*.o
*.lo
Makefile
Makefile.bak
*libs*
core
./../sbin/*
./../bin/*
./autoconf/ansi2knr
config.lt
./../conf/*.conf
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
conf*/*.awk
*.tmp
*/.deps/*
*/.dirstamp

# built executables:
addrtest
bnbot
bnchat
bnetd/bnetd
bnftp
bni2tga
bnibuild
bniextract
bnilist
bnpass/bnpass
bnproxy/bnproxy
bnstat
bntrackd/bntrackd
d2cs/d2cs
d2dbs/d2dbs
hashtabletest
hashtest
listtest
sbnetd
tgainfo
timetest
