libtool
config.h
*.DS_Store
*.cache
*/stamp-h1
stamp-*
*.log
*~
*.status
*.pbxuser
*.perspectivev3
*/xcuser/*
*.xcuserstate
*.xcuserdatad
*.o
*.lo
Makefile
Makefile.bak
*libs*
core
./../sbin/*
./../bin/*
./autoconf/ansi2knr
config.lt
./../conf/*.conf
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
