*.DS_Store
*.cache
*/stamp-h1
*.log
*~
*.status
*.pbxuser
*.perspectivev3
*/xcuser/*
*.xcuserstate
*.xcuserdatad
*.o
*/bin/*
*/*/bin/*
*/*/*/bin/*
bnetd/bnetd-0.4.25/bin/*
*/sbin/*
*/*/sbin/*
*/*/*/sbin/*
bnetd/bnetd-0.4.25/sbin/*
*/libtool
*/*/libtool
*/*/*/libtool
*/*/*/*/libtool
bnetd/bnetd-0.4.25/src/libtool
*/config.h
*/*/config.h
*/*/*/config.h
*/*/*/*/config.h
bnetd/bnetd-0.4.25/src/config.h
confdefs.h

